# Text Classification

In [50]:
import pandas
from sklearn.datasets import fetch_20newsgroups
training_dataset = fetch_20newsgroups(subset='train')
test_dataset = fetch_20newsgroups(subset='test')
training_data = training_dataset['data']
training_target = training_dataset['target']
test_data = test_dataset['data']
test_target = test_dataset['target']
target_names = training_dataset['target_names']

In [51]:
dataset_training = pandas.DataFrame(
    {'data':list(training_dataset['data']), 
     'target': list(training_dataset['target'])
    })

dataset_testing = pandas.DataFrame(
    {'data':list(test_dataset['data']), 
     'target': list(test_dataset['target'])
    })

In [52]:
dataset_training

                                                    data  target
0      From: lerxst@wam.umd.edu (where's my thing)\nS...       7
1      From: guykuo@carson.u.washington.edu (Guy Kuo)...       4
2      From: twillis@ec.ecn.purdue.edu (Thomas E Will...       4
3      From: jgreen@amber (Joe Green)\nSubject: Re: W...       1
4      From: jcm@head-cfa.harvard.edu (Jonathan McDow...      14
...                                                  ...     ...
11309  From: jim.zisfein@factory.com (Jim Zisfein) \n...      13
11310  From: ebodin@pearl.tufts.edu\nSubject: Screen ...       4
11311  From: westes@netcom.com (Will Estes)\nSubject:...       3
11312  From: steve@hcrlgw (Steven Collins)\nSubject: ...       1
11313  From: gunning@cco.caltech.edu (Kevin J. Gunnin...       8

[11314 rows x 2 columns]

In [53]:
dataset_testing

                                                   data  target
0     From: v064mb9k@ubvmsd.cc.buffalo.edu (NEIL B. ...       7
1     From: Rick Miller <rick@ee.uwm.edu>\nSubject: ...       5
2     From: mathew <mathew@mantis.co.uk>\nSubject: R...       0
3     From: bakken@cs.arizona.edu (Dave Bakken)\nSub...      17
4     From: livesey@solntze.wpd.sgi.com (Jon Livesey...      19
...                                                 ...     ...
7527  From: richmond@spiff.Princeton.EDU (Stupendous...      14
7528  From: smytonj@murr11.alleg.edu (Jim Smyton)\nS...       4
7529  From: hhenderson@vax.clarku.edu\nSubject: RE: ...       9
7530  From: b859zam@utarlg.uta.edu \nSubject: INTEL ...       6
7531  From: adamsj@gtewd.mtv.gtegsc.com\nSubject: Re...      15

[7532 rows x 2 columns]

In [54]:
#Visualizziamo le classi del dataset 
target_names

['alt.atheism',
 'comp.graphics',
 'comp.os.ms-windows.misc',
 'comp.sys.ibm.pc.hardware',
 'comp.sys.mac.hardware',
 'comp.windows.x',
 'misc.forsale',
 'rec.autos',
 'rec.motorcycles',
 'rec.sport.baseball',
 'rec.sport.hockey',
 'sci.crypt',
 'sci.electronics',
 'sci.med',
 'sci.space',
 'soc.religion.christian',
 'talk.politics.guns',
 'talk.politics.mideast',
 'talk.politics.misc',
 'talk.religion.misc']

In [56]:
#Filtro il dataset per costruirmi un minidataset di esempio usando le categorie 3 e 4 (Ibm e MAC). 
dataset_training = dataset_training[dataset_training['target'].isin([3,4])]
dataset_testing = dataset_testing[dataset_testing['target'].isin([3,4])]

In [63]:
#Facciamo un pò di EDA sul dataset creato
len(dataset_training)

1168

In [64]:
len(dataset_training[dataset_training['target'] == 3])

590

In [58]:
len(dataset_training[dataset_training['target'] == 4])

578

In [65]:
len(dataset_testing)

777

In [59]:
len(dataset_testing[dataset_testing['target'] == 3])

392

In [60]:
len(dataset_testing[dataset_testing['target'] == 4])

385

In [61]:
fi

In [62]:
#puliamo i dataset di training e di test
training_data_cleaned, tfidf_vectorizer = bow_tfidf(data_cleaner(dataset_training['data']), None)

In [34]:
training_data_cleaned

1168

In [69]:
testing_data_cleaned, tfidf_vectorizer = bow_tfidf(data_cleaner(dataset_testing['data']), tfidf_vectorizer)

In [67]:
#Importiamo il MLP dalla libreria 

from sklearn.neural_network import MLPClassifier

clf = MLPClassifier(activation='logistic',
                    hidden_layer_sizes=(100,),
                    max_iter=100,
                    solver='adam',
                    tol=0.005,
                    verbose=True)

clf.fit(training_data_cleaned,dataset_training['target'])

Iteration 1, loss = 0.70019679
Iteration 2, loss = 0.68026401
Iteration 3, loss = 0.67105660
Iteration 4, loss = 0.66078195
Iteration 5, loss = 0.65025430
Iteration 6, loss = 0.63965716
Iteration 7, loss = 0.62901592
Iteration 8, loss = 0.61767249
Iteration 9, loss = 0.60572652
Iteration 10, loss = 0.59307181
Iteration 11, loss = 0.57947266
Iteration 12, loss = 0.56497275
Iteration 13, loss = 0.54963676
Iteration 14, loss = 0.53309710
Iteration 15, loss = 0.51603203
Iteration 16, loss = 0.49756239
Iteration 17, loss = 0.47875940
Iteration 18, loss = 0.45974243
Iteration 19, loss = 0.43964621
Iteration 20, loss = 0.41947523
Iteration 21, loss = 0.39926201
Iteration 22, loss = 0.37915222
Iteration 23, loss = 0.35947224
Iteration 24, loss = 0.33994807
Iteration 25, loss = 0.32126868
Iteration 26, loss = 0.30299677
Iteration 27, loss = 0.28569367
Iteration 28, loss = 0.26907751
Iteration 29, loss = 0.25322486
Iteration 30, loss = 0.23838768
Iteration 31, loss = 0.22437398
Iteration 32, loss = 0.21120012
Iteration 33, loss = 0.19888352
Iteration 34, loss = 0.18741098
Iteration 35, loss = 0.17669636
Iteration 36, loss = 0.16668971
Iteration 37, loss = 0.15748194
Iteration 38, loss = 0.14874534
Iteration 39, loss = 0.14068295
Iteration 40, loss = 0.13325419
Iteration 41, loss = 0.12628497
Iteration 42, loss = 0.11979194
Iteration 43, loss = 0.11379824
Iteration 44, loss = 0.10816960
Iteration 45, loss = 0.10293965
Iteration 46, loss = 0.09805265
Iteration 47, loss = 0.09351853
Iteration 48, loss = 0.08931076
Iteration 49, loss = 0.08534353
Iteration 50, loss = 0.08164484
Iteration 51, loss = 0.07815489
Iteration 52, loss = 0.07492675
Iteration 53, loss = 0.07188673
Iteration 54, loss = 0.06903465
Iteration 55, loss = 0.06634415
Iteration 56, loss = 0.06385854
Training loss did not improve more than tol=0.005000 for 10 consecutive epochs. Stopping.

MLPClassifier(activation='logistic', max_iter=100, tol=0.005, verbose=True)

In [70]:
#TESTIAMO IL MODELLO ADDESTRATO
clf.score(testing_data_cleaned, dataset_testing['target'])

0.8854568854568855

In [75]:
target = clf.predict(bow_tfidf(data_cleaner(["IBM is one of the bigger company in the world!"]),tfidf_vectorizer)[0])[0]

In [78]:
target

3

In [79]:
target_names[target]

'comp.sys.ibm.pc.hardware'